<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iemp.auth.authcenter.dao.AuthorityDao">

    <resultMap id="Authority" type="com.iemp.auth.authcenter.domain.Authority" >
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="url" property="url" />
        <result column="method" property="method" />
        <result column="controller" property="controller" />
        <result column="des" property="des" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `name`,
        `code`,
        `url`,
        `method`,
        `controller`,
        `des`
    </sql>

    <insert id="insert" parameterType="java.util.Map" >
        INSERT INTO authority (
        `id`,
        `name`,
        `code`,
        `url`,
        `method`,
        `controller`,
        `des`
        )
        VALUES(
        #{authority.id},
        #{authority.name},
        #{authority.code},
        #{authority.url},
        #{authority.method},
        #{authority.controller},
        #{authority.des}
        )
    </insert>

    <delete id="delete" parameterType="java.util.Map" >
        DELETE FROM authority
        WHERE `id` = #{id}
    </delete>

    <update id="update" parameterType="java.util.Map" >
        UPDATE authority
        <set>
            <if test="authority.name != null and authority.name != '' " >
                name = #{authority.name},
            </if>
        </set>
        <set>
            <if test="authority.code != null and authority.code != '' " >
                code = #{authority.code},
            </if>
        </set>
        <set>
            <if test="authority.url != null and authority.url != '' " >
                url = #{authority.url},
            </if>
        </set>
        <set>
            <if test="authority.method != null and authority.method != '' " >
                method = #{authority.method},
            </if>
        </set>
        <set>
            <if test="authority.controller != null and authority.controller != '' " >
                controller = #{authority.controller},
            </if>
        </set>
        <set>
            <if test="authority.des != null and authority.des != '' " >
                des = #{authority.des},
            </if>
        </set>
        WHERE `id` = #{authority.id}
    </update>


    <select id="getAll" resultMap="Authority">
        SELECT
        <include refid="Base_Column_List" />
        FROM authority
    </select>

    <select id="load" parameterType="java.util.Map" resultMap="Authority">
        SELECT <include refid="Base_Column_List" />
        FROM authority
        WHERE `id` = #{id}
    </select>

    <select id="pageList" parameterType="java.util.Map" resultMap="Authority">
        SELECT <include refid="Base_Column_List" />
        FROM authority
        LIMIT #{offset}, #{pagesize}
    </select>

    <select id="pageListCount" parameterType="java.util.Map" resultType="int">
        SELECT count(1)
        FROM authority
    </select>

</mapper>
