<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iemp.auth.authcenter.dao.ResourceAuthorityRDao">

    <resultMap id="ResourceAuthorityR" type="com.iemp.auth.authcenter.domain.ResourceAuthorityR" >
        <result column="id" property="id" />
        <result column="resource_id" property="resourceId" />
        <result column="authority_id" property="authorityId" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `resource_id`,
        `authority_id`
    </sql>

    <insert id="insert" parameterType="java.util.Map" >
        INSERT INTO resource_authority_r (
        `id`,
        `resource_id`,
        `authority_id`
        )
        VALUES(
        #{resourceAuthorityR.id},
        #{resourceAuthorityR.resourceId},
        #{resourceAuthorityR.authorityId}
        )
    </insert>

    <delete id="delete" parameterType="java.util.Map" >
        DELETE FROM resource_authority_r
        WHERE `id` = #{id}
    </delete>

    <update id="update" parameterType="java.util.Map" >
        UPDATE resource_authority_r
        <set>
            <if test="resourceAuthorityR.resourceId != null and resourceAuthorityR.resourceId != '' " >
                resource_id = #{resourceAuthorityR.resourceId},
            </if>
        </set>
        <set>
            <if test="resourceAuthorityR.authorityId != null and resourceAuthorityR.authorityId != '' " >
                authority_id = #{resourceAuthorityR.authorityId},
            </if>
        </set>
        WHERE `id` = #{resourceAuthorityR.id}
    </update>


    <select id="getAll" resultMap="ResourceAuthorityR">
        SELECT
        <include refid="Base_Column_List" />
        FROM resource_authority_r
    </select>

    <select id="load" parameterType="java.util.Map" resultMap="ResourceAuthorityR">
        SELECT <include refid="Base_Column_List" />
        FROM resource_authority_r
        WHERE `id` = #{id}
    </select>

    <select id="pageList" parameterType="java.util.Map" resultMap="ResourceAuthorityR">
        SELECT <include refid="Base_Column_List" />
        FROM resource_authority_r
        LIMIT #{offset}, #{pagesize}
    </select>

    <select id="pageListCount" parameterType="java.util.Map" resultType="int">
        SELECT count(1)
        FROM resource_authority_r
    </select>

</mapper>
