<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iemp.auth.authcenter.dao.ResourceDao">

    <resultMap id="Resource" type="com.iemp.auth.authcenter.domain.Resource" >
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="url" property="url" />
        <result column="add" property="add" />
        <result column="delete" property="delete" />
        <result column="edit" property="edit" />
        <result column="find" property="find" />
        <result column="sort" property="sort" />
        <result column="des" property="des" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `name`,
        `code`,
        `url`,
        `add`,
        `delete`,
        `edit`,
        `find`,
        `sort`,
        `des`
    </sql>

    <insert id="insert" parameterType="java.util.Map" >
        INSERT INTO resource (
        `id`,
        `name`,
        `code`,
        `url`,
        `add`,
        `delete`,
        `edit`,
        `find`,
        `sort`,
        `des`
        )
        VALUES(
        #{resource.id},
        #{resource.name},
        #{resource.code},
        #{resource.url},
        #{resource.add},
        #{resource.delete},
        #{resource.edit},
        #{resource.find},
        #{resource.sort},
        #{resource.des}
        )
    </insert>

    <delete id="delete" parameterType="java.util.Map" >
        DELETE FROM resource
        WHERE `id` = #{id}
    </delete>

    <update id="update" parameterType="java.util.Map" >
        UPDATE resource
        <set>
            <if test="resource.name != null and resource.name != '' " >
                name = #{resource.name},
            </if>
        </set>
        <set>
            <if test="resource.code != null and resource.code != '' " >
                code = #{resource.code},
            </if>
        </set>
        <set>
            <if test="resource.url != null and resource.url != '' " >
                url = #{resource.url},
            </if>
        </set>
        <set>
            <if test="resource.add != null and resource.add != '' " >
                add = #{resource.add},
            </if>
        </set>
        <set>
            <if test="resource.delete != null and resource.delete != '' " >
                delete = #{resource.delete},
            </if>
        </set>
        <set>
            <if test="resource.edit != null and resource.edit != '' " >
                edit = #{resource.edit},
            </if>
        </set>
        <set>
            <if test="resource.find != null and resource.find != '' " >
                find = #{resource.find},
            </if>
        </set>
        <set>
            <if test="resource.sort != null and resource.sort != '' " >
                sort = #{resource.sort},
            </if>
        </set>
        <set>
            <if test="resource.des != null and resource.des != '' " >
                des = #{resource.des},
            </if>
        </set>
        WHERE `id` = #{resource.id}
    </update>


    <select id="getAll" resultMap="Resource">
        SELECT
        <include refid="Base_Column_List" />
        FROM resource
    </select>

    <select id="load" parameterType="java.util.Map" resultMap="Resource">
        SELECT <include refid="Base_Column_List" />
        FROM resource
        WHERE `id` = #{id}
    </select>

    <select id="pageList" parameterType="java.util.Map" resultMap="Resource">
        SELECT <include refid="Base_Column_List" />
        FROM resource
        LIMIT #{offset}, #{pagesize}
    </select>

    <select id="pageListCount" parameterType="java.util.Map" resultType="int">
        SELECT count(1)
        FROM resource
    </select>

    <select id="getResourceByIds" resultMap="Resource">
        SELECT <include refid="Base_Column_List" />
        FROM resource
        WHERE id in 
        <foreach collection="resoureceIds" open="(" close=")" item="resoureceId" separator=",">
            #{resoureceId}
        </foreach>
    </select>

</mapper>
